In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Carga desde un archivo .csv sin indice
data= pd.read_csv('inmuebles_sin_nulos.csv') 
data

,Unnamed: 0,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,0,01/01/2004 00:00,Parking,Alquiler,Lleida,291.0,2133903,19/06/2004 00:00,Carmen
1,1,01/01/2004 00:00,Local,Venta,Girona,185.0,1945424,19/04/2004 00:00,Pedro
2,2,01/01/2004 00:00,Oficina,Alquiler,Girona,1582.0,1121906,08/11/2004 00:00,Joaquín
3,3,02/01/2004 00:00,Parking,Alquiler,Girona,285.0,1121906,27/04/2004 00:00,Jesús
4,4,02/01/2004 00:00,Suelo,Venta,Tarragona,152.0,200,10/07/2004 00:00,María
...,...,...,...,...,...,...,...,...,...
3332,3332,29/04/2007 00:00,Industrial,Alquiler,Lleida,221.0,1450644,19/06/2030 00:00,María
3333,3333,29/04/2007 00:00,Piso,Alquiler,Girona,55.0,454080,19/06/2030 00:00,María
3334,3334,30/04/2007 00:00,Suelo,Venta,Tarragona,78.0,740688,19/06/2030 00:00,María
3335,3335,30/04/2007 00:00,Piso,Alquiler,Barcelona,88.0,397408,19/06/2030 00:00,María
3336,3336,30/04/2007 00:00,Parking,Venta,Lleida,170.2,2140712,19/06/2030 00:00,María

In [ ]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

In [ ]:
#Realizamos histograma de variables cuantitativas
fig = plt.figure(figsize =(5, 3))
plt.hist(x=data["Precio Venta"], color='blue', rwidth=0.50)
plt.title('Histograma de Precio de ventas')
plt.xlabel('Precio Venta')
plt.ylabel('Frecuencia')

plt.show() #dibujamos el histograma

In [ ]:
#Realizamos diagrama de caja o bigote
fig = plt.figure(figsize =(5, 3))
plt.boxplot(data["Precio Venta"]) 
plt.title("Outliers de Precio Venta")
plt.show() #dibujamos el diagrama

*****************************MÉTODO DE DESVIACIÓN ESTÁNDAR*********************************

In [ ]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=data["Precio Venta"]
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

In [ ]:
#Encontramos Ouliers
outliers= data[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

In [ ]:
#Obtenemos datos limpios
data_clean= data[(y<=Limite_Superior)&(y>=Limite_Inferior)]
data_clean

In [ ]:
#Realizamos diagrama de caja o bigote
fig = plt.figure(figsize =(5, 3))
plt.boxplot(data_clean["Precio Venta"]) 
plt.title("Outliers de Precio Venta")
plt.show() #dibujamos el diagrama

*****************************MÉTODO DE IQR (RANGO INTER QUARTILICO)*********************************

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=data["Precio Venta"]

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

In [ ]:
#Encontramos Ouliers
outliers_iqr= data[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

In [ ]:
#Obtenemos datos limpios
data_clean_iqr= data[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data_clean_iqr

In [ ]:
#Realizamos diagrama de caja o bigote
fig = plt.figure(figsize =(5, 3))
plt.boxplot(data_clean_iqr["Precio Venta"]) 
plt.title("Outliers de Precio Venta")
plt.show() #dibujamos el diagrama